<div id="form-update-delete" class="container d-flex justify-content-center mt-2" data-post-id= {{post.id}} >
    <div class="row">
        <div class="col-md-auto">
            <form action="update/delete" class="border border-black border-2">
                <h4 class="bg-dark text-light p-2">Edit or Delete Post</h4>
                <div class="mb-3 px-2">
                    <label class="form-label" for="post-title">Post title</label>
                    <textarea id="postTitle" class="form-control" rows="1">{{post.post_title}}</textarea>
                </div>
                <div class="mb-3 px-2">
                    <label for="post-content" class="form-label">Post content</label>
                    <textarea  class="form-control" id="postContent" rows="1">{{post.post_content}}</textarea>
                </div>
                <div class="container my-3">
                    <div class="row"> 
                        <div class="col d-flex justify-content-center">
                            <button id="updateBtn" class="btn btn-outline-primary" type="button">Update</button>
                        </div>
                        <div class="col d-flex justify-content-center">
                            <button id="deleteBtn" class="btn btn-outline-danger" type="button">Delete</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/updatePost.js"></script>