<div>
    <nav>
        <ul class=>
            <a class="mx-auto" href="##"> Home </a>
            <a href="##">Dashboard</a>
            <a href="##"> Logout </a>
        </ul>
    </nav>
    
</div>