<div class="container">
    <div class="row">
      <div class="col bg-light p-2">
        <h2 class="text-center">Log in</h2>
          <form class="login-form">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="username" class="form-control" id="username-login">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="password-login">
            </div>
            <div>
                <button type="submit" class="btn btn-dark text-center"> Log in</button>
            </div>
         </form> 
      </div>
      <div class="col">
        <div class="bg-light p-2">
            <h2 class="text-center">Sign in</h2>
            <form class="signup-form">
                <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="username" class="form-control" id="sign-username" placeholder="SmiledJ0na5">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="sign-email" placeholder="learnantino@gmail.com">
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Password</label>
                <input type="password" class="form-control" id="sign-password"  placeholder="Longer than 8 characters">
            </div>
            <button type="submit" class="btn btn-dark text-center">Sign up</button>
            </form>
        </div>
      </div>
    </div>
</div>

<script src="./js/login.js"></script>